<div class="inline-block my-1">
    <% if (response_code == 200) { %>
    <div class="flex items-center gap-1 bg-mod-light-blue text-mod-white rounded-md py-[1px] px-2">
        <div class="text-lg font-bold">✓</div>
        <div class="text-sm">200</div>
    </div>
    <% } else { %>
    <div class="flex items-center gap-1 bg-mod-red text-mod-white rounded-md py-[1px] px-2">
        <div class="text-lg font-bold">ｘ</div>
        <div class="text-sm"><%= response_code %></div>
    </div>
    <% } %>
</div>