<% for (const message of getFlashMessages("success")) { %>
<div class="bg-mod-light-blue/20 border border-mod-light-blue text-mod-dark-blue px-4 py-3 rounded relative mb-4" role="alert">
    <strong class="font-bold">Success</strong>
    <span class="block sm:inline"><%= message %></span>
</div>
<% } %>

<% for (const message of getFlashMessages("error")) { %>
<div class="bg-mod-red/20 border border-mod-red text-mod-red px-4 py-3 rounded relative mb-4" role="alert">
    <strong class="font-bold text-mod-red">Error</strong>
    <span class="block sm:inline"><%= message %></span>
</div>
<% } %>

<% if (locals.error) { %>
<div class="bg-mod-red/20 border border-mod-red text-mod-red px-4 py-3 rounded relative mb-4" role="alert">
    <strong class="font-bold text-mod-red">Error</strong>
    <span class="block sm:inline"><%= locals.error %></span>
</div>
<% } %>