<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= locals.title || "Model Deployer" %> — Deploy AI models in production</title>
    <meta name="description" content="<%= locals.subtitle || "Deploy, manage and rate-limit AI models in production" %>">
    <link rel="stylesheet" href="/app.css">
    <script defer data-domain="modeldeployer.com" src="https://s.cac.app/js/script.outbound-links.js"></script>
</head>

<body class="bg-mod-white min-h-screen" id="container">