<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body class="bg-gray-50">
    <div class="w-full max-w-5xl mx-auto min-h-screen pb-20 flex flex-col">
        <div class="uppercase text-xs flex gap-4 py-2 text-gray-400">
            <strong>Model Deployer</strong>
            <a href="/history" class="hover:text-gray-700">History</a>
            <a href="/models" class="hover:text-gray-700">Models</a>

        </div>