                </div>
            </div>
        </div>
        <div class="grow"></div>
        <div class="bg-mod-darkest-gray text-mod-white p-4 mt-12">
            <div class="max-w-3xl mx-auto py-12">
                <div class="flex flex-col md:flex-row gap-4 items-center">
                    <a href="/" class="flex items-center gap-4 w-full">
                        <img src="/images/icon-white.png" class="w-12 h-12" />
                        <h4 class="text-mod-white text-3xl font-bold">Model Deployer</h4>
                    </a>
                    <div class="w-full">
                        <ul class="flex flex-col md:flex-row gap-4 justify-between mt-4 md:mt-0">
                            <li>
                                <a href="https://github.com/themaximal1st/modeldeployer">GitHub</a>
                            </li>
                            <li>
                                <a href="https://modeldeployer.themaximalist.com">Docs</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/themaximali1st">Twitter</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (!locals.htmx) { %>
<%- include('../partials/footer') -%>
<% } %>