<% if (!locals.htmx) { %>
<%- include('./header') -%>
<% } %>
<div class="wrapper">
    <div class="bg"></div>
    <div class="relative z-20 flex flex-col min-h-screen h-full w-full">
        <div class="w-full max-w-3xl mx-auto p-4 pt-20 flex flex-col gap-4">
            <div class="flex">
                <div class="flex flex-col gap-2 lg:gap-1 -mt-7">
                    <div class="flex items-center gap-2">
                        <h1 class="text-mod-dark-blue text-4xl lg:text-5xl font-bold"><%= locals.title %></h1>
                    </div>
                    <h2 class="text-mod-gray text-2xl font-medium max-w-lg"><%= locals.subtitle %></h2>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-3xl w-full">
            <div class="content bg-mod-white gap-2 flex flex-col md:rounded-lg md:shadow-lg relative z-20 min-h-[200px] w-full p-4">
                <div class="prose prose-lg w-full">
                    <%- include('flash') -%>