<% if (!locals.htmx) { %>
<%- include('../partials/header') -%>
<% } %>

<div class="w-full max-w-5xl mx-auto min-h-screen pb-20 flex flex-col">
    <div class="uppercase text-xs flex gap-4 py-2 text-gray-400">
        <a href="/" class="font-bold hover:text-gray-700">Model Deployer</a>
        <a href="/history" class="hover:text-gray-700">History</a>
        <a href="/models" class="hover:text-gray-700">Models</a>
        <% if (!!locals.user_id) { %>
        <a href="/users/logout" class="hover:text-gray-700">Logout</a>
        <% } else { %>
        <a href="/users/signup" class="hover:text-gray-700">Signup</a>
        <% } %>
    </div>

    <div class="flex flex-col py-8 gap-2">
        <h1 class="text-2xl leading-none uppercase"><%= typeof title === "string" ? title : "Model Deployer" %></h1>
    </div>

    <div class="border-2 border-gray-100 w-full rounded-lg shadow-sm bg-white grow p-8 flex flex-col">
        <%- include('flash') -%>