<%- include("partials/page_header", { title: "Dashboard"}) %>
<div>
    Hello from Hummingbird!
</div>

<div id="parent-div">
    <%- include("partials/clicked") %>
</div>

<%- include("partials/page_footer") %>