<%- include("partials/header") %>
<div class="container flex flex-col gap-4">
    <div>
        Hello from Hummingbird!
    </div>

    <div id="parent-div">
        <%- include("partials/clicked") %>
    </div>
</div>
<%- include("partials/footer") %>