<%- include("../partials/page_header", { title: "Blog", subtitle: "Model Deployer content about deploying AI models"}) %>

<div class="prose prose-xl">
    <ul>
        <li><a href="/blog/modeldeployer-launches">Model Deployer Launches!</a></li>
    </ul>
</div>

<%- include("../partials/page_footer") %>