<%- include("../partials/page_header", {title: "Signup"}) %>
<div class="flex flex-col gap-8">
    <p>Signup to Model Deployer by creating an account below. If you already have an account <a href="/users/login">Login</a>.</p>

    <%- include("form", {action: "/users/signup"}) %>
</div>
<%- include("../partials/page_footer") %>