<form method="POST" hx-post="<%= action %>" hx-target="#container" hx-swap="innerHTML" action="<%= action %>" class="flex flex-col w-full space-y-4">
    <label>
        <div>Email</div>
        <input type="email" name="email" value="<%= user.email %>" class="w-full" />
    </label>

    <label>
        <div>Password</div>
        <input type="password" name="password1" value="" class="w-full" />
    </label>

    <label>
        <div>Confirm Password</div>
        <input type="password" name="password2" value="" class="w-full" />
    </label>

    <button type="submit">Save</button>
</form>