<%- include("../partials/page_header", {title: "Profile"}) %>
<div class="flex flex-col gap-8">
    <p>You are logged in as <%= locals.user_email %></p>
    <div>
        <a href="/users/logout" class="button red">Logout</a>
    </div>
</div>
<%- include("../partials/page_footer") %>