<%- include("../partials/admin_header", {title: "Profile", subtitle: locals.user_email }) %>
<div class="flex flex-col gap-8 grow">
    <p>Logged in as <strong><%= locals.user_email %></strong></p>
</div>

<hr class="my-4" />

<div class="flex gap-8">
    <div class="grow"></div>
    <a href="/users/logout" class="button toolbar red">Logout</a>
</div>

<%- include("../partials/admin_footer") %>